body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: white;
    
}
*{
    text-decoration: none;
}
.hero-section {
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Desktop-US.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.nav{
    margin-left: -97px;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    align-items: center;
}
.nav .logo{
    width: 130px;
    height: 80px;
    margin-top: -15px;
    margin-left: 95px;
}
.nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav ul li a{
    color: white;
    font-size: 13px ;
    font-weight: bold;
}
.corner-icons {
    display: flex;
    gap: 10px;
}
.corner-icons .icons {
    width: 22px;
}
.head {
    text-align: center;
    line-height: 4px;
    margin-bottom: 38px;
    
}
.head h1 {
    font-size: 54px;

}
.head p{
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    text-underline-position: under;
    color: rgb(238, 245, 245);
    padding-top:10px ;
}
.button{
    margin-top: 451px;
    display: flex;
    justify-content: center;
    height: 40px;
    line-height: 1;
}
.button a{
    margin: 10px;
    height: 40px;
    width: 264px;
    border-radius: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn1{
    color: white;
    background-color: rgb(62, 106, 225);
    font-weight: 600;
    font-size: 14px;
}
.btn2{
    background-color: white;
    color: rgb(52, 55, 59);
    font-weight: 600;
    font-size: 14px;
}


.section-2{
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-Y-Desktop-US-v2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.head2 {
    text-align: center;
    line-height: 4px;
    margin-top: 54px;
    
}
.head2 h1 {
    font-size: 54px;

}
.head2 p{
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    text-underline-position: under;
    color: rgb(238, 245, 245);
    padding-top:10px ;
}
.button2{
    margin-top: 451px;
    display: flex;
    justify-content: center;
    height: 40px;
    line-height: 1;
}
.button2 a{
    margin: 10px;
    height: 40px;
    width: 264px;
    border-radius: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn1-2{
    color: white;
    background-color: rgb(62, 106, 225);
    font-weight: 600;
    font-size: 14px;
}
.btn2-2{
    background-color: white;
    color: rgb(52, 55, 59);
    font-weight: 600;
    font-size: 14px;
}


.section-3{
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-X-Desktop-US.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.head3 {
    text-align: center;
    line-height: 4px;
    margin-top: 65px;
    
}
.head3 h1 {
    font-size: 54px;
}
.head3 h2{
    font-size: 28px;
}
.head3 p{
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    text-underline-position: under;
    color: rgb(238, 245, 245);
    padding-top:10px ;
}
.head3 span{
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    text-underline-position: under;
    color: rgb(238, 245, 245);
    padding-top:10px ;
}
.button3{
    margin-bottom: 44px;
    display: flex;
    justify-content: center;
    height: 40px;
    line-height: 1;
}
.button3 a{
    margin: 10px;
    height: 40px;
    width: 264px;
    border-radius: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn1-3{
    color: white;
    background-color: rgb(62, 106, 225);
    font-weight: 600;
    font-size: 14px;
}
.btn2-3{
    background-color: white;
    color: rgb(52, 55, 59);
    font-weight: 600;
    font-size: 14px;
}
.section-4{
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-S-Desktop-US.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.section-5{
    background-image: url('https://digitalassets.tesla.com/discovery-tesla-com/image/upload/f_auto,q_auto/Homepage-Cybertruck-Desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.logo-5{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:100%;
        top: 0;
        height: 42vh;
        align-items: center;
        text-decoration:2px ;
        padding-top: 2915px;
}
.button-cont5{
    margin-top: 643px;
    display: flex;
    justify-content: center;
    padding: 12px 90px;
}
.btn-cont5{
   border-top: 2px solid rgb(141, 142, 144);
    padding: 12px 90px;
    margin-right: 15px;
    background-color:rgb(19, 19, 19) ;
    color: rgb(141, 142, 144);
    border-radius: none;
}
.btn-cont5-2{
    border: .5px solid  rgb(69, 69, 70);
     padding: 12px 90px;
     margin-right: 15px;
     background-color:rgb(19, 19, 19) ;
     color: rgb(141, 142, 144);
     border-radius: none;
 }

 .section-6{
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-SolarPanels-01-Desktop');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-7{
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-SolarRoof-Desktop-US.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head6 {
    text-align: center;
    line-height: 4px;
    margin-top: 24px;
    
}
.head6 h1 {
    font-size: 44px;

}
.head6 h2{
    font-size:25px ;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    text-underline-position: under;
    color: rgb(238, 245, 245);
    padding-top:2px ;
}


.button6{
    margin-top: 483px;
    display: flex;
    justify-content: center;
    height: 40px;
    line-height: 1;
}
.button6 a{
    margin: 10px;
    height: 40px;
    width: 264px;
    border-radius: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn1-6{
    color: white;
    background-color: rgb(62, 106, 225);
    font-weight: 600;
    font-size: 14px;
}
.btn2-6{
    background-color: white;
    color: rgb(52, 55, 59);
    font-weight: 600;
    font-size: 14px;
}
.button7{
    margin-top: 431px;
    display: flex;
    justify-content: center;
    height: 40px;
    line-height: 1;
}
.button7 a{
    margin: 10px;
    height: 40px;
    width: 264px;
    border-radius: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn1-7{
    color: white;
    background-color: rgb(62, 106, 225);
    font-weight: 600;
    font-size: 14px;
}
.btn2-7{
    background-color: white;
    color: rgb(52, 55, 59);
    font-weight: 600;
    font-size: 14px;
}
.section-8{
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Powerwall-Desktop-US.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cont8{
    text-align: center;
    padding-top: 0px;
}
.cont8 h1 {
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 40px;
}
.section-9{
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Accessories-Desktop-US.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.last-section{
    background-color: rgb(1, 1, 1);
    padding: 15px 300px;
    display: flex;
    flex-direction: column;

}
.para-cont {
    display: flex;
    justify-content: center;
    line-height: 17px;
}
.para-cont p{
    display: flex;
    justify-content: center;
    line-height: 25px;
}
footer {
    display: flex;
    background-color:rgb(0, 0, 0) ;
    justify-content: center;
}
.end {
    margin-top: 0px;
    display: flex;
    align-items: center;
}
footer ul{
    list-style: none;
    display: flex;
    text-align: center;
    gap: 18px;
}
footer ul li {
    color: rgb(178, 180, 183);
    font-size: 6x;
    font-weight: 600;

}